nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#nav {
  color: #ffffff;
}

#nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  background: #a7189e;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.74);
}

@media (max-width: 567px) {
  #nav {
    margin-top: 50px;
  }
}
